﻿/**
 * Copyright (c) Daniel Holm. All rights reserved.
 * Copyright (c) Microsoft Corporation. All rights reserved.
 * Licensed under the MIT license.
 */

body {
    padding-top: 4.5rem;
}

.alert-pre {
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
}

.modal-body {
    height: calc(100vh - 200px);
    overflow-y: auto;
}

#messages {
    padding-left: 1%;
    padding-right: 1%;
}

#messages .card {
    margin: 0 0 2%;
}

.horizontal-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

.horizontal-link {
    float: left;
}

.horizontal-link, .horizontal-link a {
    margin: 0px;
    padding: 0px;
}

.horizontal-link:not(:last-of-type):after {
    margin-right: 0.3rem;
    content: ',';
}