﻿@model utsikt.Models.Message

<div class="modal fade" id="modal-@ViewData["index"]" tabindex="-1" aria-labelledby="modal-label-@ViewData["index"]" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-label-@ViewData["index"]">@Model.Subject</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-header">
                <div>
                    <p>
                        <i class="far fa-user fa-lg rounded-circle align-self-center mr-2" style="width: 32px;"></i>
                        Sender: @Model.Sender.EmailAddress.Name, @Model.Sender.EmailAddress.Address
                    </p>
                    <p>
                        <i class="far fa-calendar fa-lg rounded-circle align-self-center mr-2" style="width: 32px;"></i>
                        Received: @Model.ReceivedDateTime
                    </p>
                </div>
                <div>
                    <ul class="horizontal-links" id="issue-links-@ViewData["index"]">
                        @if (Model.IssueKeys.Any())
                        {
                            foreach (var issue in Model.IssueKeys)
                            {
                                <li class="horizontal-link">
                                    <a href="@ViewData["JiraIssueBaseAddress"]@issue.Key" target="_blank">@issue.Key</a>
                                </li>
                            }
                        }
                    </ul>

                    <a class="open-issue" href="#"
                       data-summary="@Model.Subject"
                       data-description="@Model.Body"
                       data-listedid="@ViewData["index"]"
                       data-messageid="@Model.Id">Create issue</a>

                </div>
            </div>
            <div class="modal-body">
                <iframe srcdoc="@Model.Body" style="width: 100%; height: 100%; border: none;"></iframe>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
