﻿@model utsikt.Models.Message

<div class="card @(Model.IsRead ? "" : "border-primary")" 
     data-message-id="@Model.Id" 
     data-toggle="modal" 
     data-target="#modal-@ViewData["index"]">
    <div class="card-body">
        <h5 class="card-title">
            @Model.Subject
        </h5>

        <p>@Model.Sender.EmailAddress.Address - @Model.ReceivedDateTime</p>

        <p class="card-text">
            @Model.BodyPreview
        </p>
    </div>
</div>