﻿@model utsikt.Models.Messages

<nav aria-label="Page navigation example">
    <ul class="pagination">
        @if (Model.CurrentPage > 1)
        {
            <li class="page-item"><a class="page-link" href="?page=@Model.PreviousPage">Previous</a></li>
        }

        @for (var i = 1; i <= Model.PageCount; i++)
        {
            <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                <a class="page-link" href="?page=@i">@i</a>
            </li>
        }

        @if (Model.CurrentPage < Model.PageCount)
        {
            <li class="page-item"><a class="page-link" href="?page=@Model.NextPage">Next</a></li>
        }
    </ul>
</nav>
