﻿<!--

 * Copyright (c) Daniel Holm. All rights reserved.
 * Copyright (c) Microsoft Corporation. All rights reserved.
 * Licensed under the MIT license.

-->

@model utsikt.Models.Messages

@{
    ViewBag.Current = "Messages";
    ViewBag.PageTitle = Model == null ? 
        "Log In to View Messages" 
        : $"Messages, ({Model.UnreadItemCount}) unread, page {Model.CurrentPage} of {Model.PageCount}. ";
    ViewBag.UnreadItemCount = Model?.UnreadItemCount ?? 0;
}

@if (Model != null && Request.IsAuthenticated)
{
    <div class="row no-gutters">
        <div class="col-6 col-md-4">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center active">
                    Inbox
                    <span class="badge badge-primary badge-pill">7</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Hanterade
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Produktionsmiljön
                </li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-8" id="messages">
            @for (var i = 0; i < Model.MessagesList.Count; i++)
            {
                var item = Model.MessagesList[i];

                @Html.Partial("_MessageModal", item, new ViewDataDictionary
                    {
                        { "index", i },
                        { "JiraIssueBaseAddress", Model.JiraIssueBaseAddress }
                    })
                @Html.Partial("_MessageCard", item, new ViewDataDictionary
                    {
                        { "index", i },
                        { "JiraIssueBaseAddress", Model.JiraIssueBaseAddress }
                    })}

                @if (!Model.IsHidePagination)
                {
                    @Html.Partial("_Pagination", Model);
                }
        </div>
    </div>
    
    <script type="text/javascript">
        document.querySelectorAll('.open-issue')
            .forEach(element => element.addEventListener("click", async function (event) {
                event.preventDefault();

                const prev = event.target.innerHTML;

                event.target.innerHTML =
                `
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                `;

                try {
                    const result = await axios.post(`/Message/Issues`, {
                        MessageId: this.dataset.messageid,
                        Summary: this.dataset.summary,
                        Description: this.dataset.description
                    });

                    event.target.innerHTML = prev;

                    document
                        .getElementById(`issue-links-${this.dataset.listedid}`)
                        .insertAdjacentHTML('beforeend',`
                            <li class="horizontal-link">
                                <a href="@Model.JiraIssueBaseAddress/${result.data.Key}"
                                    target="_blank"
                                    title="Open ${result.data.Key} in a new tab">${result.data.Key}</a>
                            </li>
                        `);
                } catch (exception) {
                    event.target.innerHTML = prev;

                    const error = document.createElement('p')
                    error.innerHTML = 'Failed to create an issue'
                    error.classList.add('text-danger')

                    event.target.parentNode.insertBefore(error, event.target.nextSibling)

                    setTimeout(() => { event.target.parentNode.removeChild(error); }, 3000);
                }
            }));
    </script>
}
else
{
    <div class="jumbotron">
        @Html.ActionLink(
            "Click here to sign in", 
            "SignIn", 
            "Account", 
            new { area = "" }, 
            new { @class = "btn btn-primary btn-large" })
    </div>
}
